// Colors

  // default
  $black: #000;
  $black_opace:       rgba($black, .5);
  $black_opace_dark:  rgba($black, .75);

  $transparent: transparent;

  $white: #fff;

	// main
  $main: $black;
  $main-link: $black;
  $main-link-hover: $black;	
